.contacts {
  padding-top: 120px;
}

.contacts-wrapper {
  padding: 0 35px 92px 52px;
  display: flex;
  gap: 70px;
}

.contacts-title {
  padding-left: 12px;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  position: relative;
}

.contacts-title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 100%;
  top: -6px;
  left: -0.2px;
  z-index: -1;
}

.contacts-subtitle {
  margin-top: 6px;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.contacts-divider {
  margin-top: 25px;
  width: 60px;
  height: 3px;
  background-color: #ffa501;
}

.contacts-content p {
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

.contacts-social {
  margin-top: 20px;
  width: 135px;
  height: 30px;

  display: flex;
  justify-content: space-between;
}

.contacts-content h3 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

.contacts-form .btn {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

.form-personal {
  display: flex;
  gap: 25px;
}

.form-input {
  position: relative;
  margin-top: 30px;
  width: 280px;
  height: 45px;
}

.form-input input {
  padding: 0 20px;
  width: 100%;
  height: 100%;

  font-size: 12px;
  color: #000000;
}

.form-message {
  position: relative;
  margin-top: 30px;
  width: 585px;
  height: 190px;
}

.form-message textarea {
  padding: 10px 10px;
  width: 100%;
  height: 100%;

  font-size: 12px;
  color: #000000;

  resize: none;
}

.contacts-form label {
  font-weight: 500;
  font-size: 12px;
  color: #000000;

  display: block;
  position: absolute;
  height: 18px;
  padding: 0 8px;
  top: -9px;
  left: 12px;
  background-color: white;
}

.form-footer {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-footer h3 {
  margin-top: 0;
  margin-left: 10px;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}

.form-footer input {
  margin-left: 35px;
}

.form-footer a {
  color: blue;
}

.form-footer a:hover {
  color: blue;
}
