.portfolio {
  padding-top: 120px;
}

.portfolio-header {
  width: 365px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-title {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  position: relative;
}

.portfolio-title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 100%;
  top: -6px;
  left: 29.8px;
  z-index: -1;
}

.portfolio-subtitle {
  margin-top: 6px;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.portfolio-divider {
  margin-top: 25px;
  width: 60px;
  height: 3px;
  background-color: #ffa501;
}

.portfolio-wrapper {
  margin-top: 60px;
  display: grid;
  gap: 5px;
  grid-template: repeat(2, 280px) / repeat(4, 280px);
  grid-auto-rows: 280px;
}

.vertical {
  grid-row: 1/3;
  grid-column: 4/5;
}

.horizontal {
  grid-row: 2/3;
  grid-column: 2/4;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item img:hover {
  transition: 0.5s all;
  transform: scale(1.02);
}
